# EditorConfig is a file format and collection of text editor plugins for maintaining consistent coding styles
# https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

# Kotlin specific settings
[*.{kt,kts}]
# Follow Kotlin style guide
ktlint_code_style = ktlint_official
# Disable wildcard imports
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
# Disable * imports
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# XML files
[*.xml]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
